.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
}

.not-found-page-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.not-found-page-message {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
